@page
@model RoomBookingApp.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingID" />
            <div class="form-group">
                <label asp-for="Booking.UserID" class="control-label"></label>
                <input asp-for="Booking.UserID" class="form-control" />
                <span asp-validation-for="Booking.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomNumber" class="control-label"></label>
                <input asp-for="Booking.RoomNumber" class="form-control" />
                <span asp-validation-for="Booking.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Date" class="control-label"></label>
                <input asp-for="Booking.Date" class="form-control" />
                <span asp-validation-for="Booking.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.StartTime" class="control-label"></label>
                <input asp-for="Booking.StartTime" class="form-control" />
                <span asp-validation-for="Booking.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EndTime" class="control-label"></label>
                <input asp-for="Booking.EndTime" class="form-control" />
                <span asp-validation-for="Booking.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Booking.AllDayBooking" /> @Html.DisplayNameFor(model => model.Booking.AllDayBooking)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Subject" class="control-label"></label>
                <input asp-for="Booking.Subject" class="form-control" />
                <span asp-validation-for="Booking.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
