@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1 class="display-4">Room Booking</h1>
    <div class="homeImage"><img class="bannerImage" src="https://images.unsplash.com/photo-1621020512837-280d1c1ccc7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" /></div>
    <p>You may use this website to book a wide range of conference and meeting rooms. Please navigate to the Bookings page to book now!</p>
</div>
