@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Room Booking Application</h1>
    <p>This is the room booking application landing page!</p>
</div>
